<!--     *********     BLOGS 3      *********      -->
<div class="blogs-3">
  <div class="container">
    <div class="row">
      <%= render 'sidebar' %>
      <div class="col-md-9 ml-auto mr-auto">
        <h2 class="title"><%=@category.name%></h2>
        <br />
        <%@products.each do |f|%>
        <div class="card card-plain card-blog">
          <div class="row">
            <div class="col-md-4">
              <div class="card-image">
               
                <img class="img img-raised rounded" src="<%=f.photos.first.image.url(:standard)%>" />
              </div>
            </div>
            <div class="col-md-8">
              <h3 class="card-title">
                <a href="#pablo"><%=f.name%></a>
              </h3>
              <p class="card-description">
                <%=truncate(f.description, length:900)%>..
              </p>
              <a href="#product/<%=f.id%>" class="btn btn-primary" onclick="return theFunction(<%=f.id%>);"  data-toggle="tooltip" data-placement="right" title="Xem chi tiết <%=f.name%>"> Buy </a>
              <div class="card-product price-container">
                <span class="col-lg-6 col-md-4 pull-right prices"><span>&#36;</span><%=f.price%></span>
                <div class="col-lg-6 col-md-8 pull-left prices">
                  Lượt views: 300000
                </div>
              </div>
            </div>
          </div>
        </div>
        <%end%>
        <%= will_paginate @products %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    function theFunction (id) {
      window.location.replace("/product/"+id);
    }
</script>
