<%= form_for(@user, url: admin_user_path) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control', placeholder: "Email Address" %> 
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: "Name" %> 
  </div>
  <div class="form-group">
   <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control', placeholder: "password" %> 
  </div>

  <div class="form-group">
  <%= f.label :password_confirmation, "Password confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "password confirmation" %> 
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control', placeholder: "Address" %> 
  </div>

  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: 'form-control', placeholder: "Address" %> 
  </div>

  <%= f.submit "Create an account", class: "btn btn-primary", value: "Edit User" %>
<% end %>