<section>
  <div class="container">
    <!-- Page Header -->
    <header>
      <h1 class="h3 display">Quản lý tài khoản hệ thống</h1>
    </header>
  </div>
</section>
<div class="">
  <div class="col-lg-10">
    <div class="card">
      <div class="container">
        <div class="row">
          <div class="card-header col-lg-3">
            <h4>Basic Table</h4>
          </div>
          <div class="col-lg-3" style="padding-top:10px">
            <%= link_to  new_admin_user_path,  class: "btn btn-primary" do %>
              <i class="fa fa-edit"></i>
            <% end %>
          </div>
        </div>
      </div>
      <hr>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr  class="alert alert-warning">
                <th>id</th>
                <th >Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone number</th>
                <th>Role</th>
                <th>Function</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <th scope="row"><%=user.id%></th>
                    <td id="name" ><%=user.name%></td>
                    <td><%=user.email%></td>
                    <td><%=user.address%></td>
                    <td><%=user.phone_number%></td>
                    <td><%=user.role.capitalize%></td>
                    <td>
                    <% if current_user.id == user.id %>
                      <%= link_to edit_admin_user_path(user), class: "btn btn-primary" do  %>
                        <i class="fa fa-edit"></i>
                      <% end %>
                    <% end %>
                    <% if current_user.role == "admin" && user.role != current_user.role %>
                      <button class="btn btn-danger" onclick="deleteSwal(<%=user.id%>,'<%=user.name%>')" >
                       <i class="fa fa-trash"></i>
                        <%= link_to admin_user_path(user),class:"button-#{user.id}", method: :delete do %>
                        <% end %>
                      </button>
                    <% end %>
                    </td>
                </tr>
              <%end%>
            </tbody>
            
          </table>
          <%= will_paginate @users %>
        </div>
      </div>
    </div>
  </div>
</div>

