<div class="form-admin">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <h4>New User Form</h4>
          </div>
          <div class="card-body">
            <%= form_for(@user, url: admin_users_path) do |f| %>
              <%= render 'shared/error_messages' %>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.text_field :email, class: 'form-control', placeholder: "Email Address", data: {validetta: "required"} %> 
              </div>

              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control', placeholder: "Name", data: {validetta: "required"} %> 
              </div>
              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control', placeholder: "password", data: {validetta: "required"} %> 
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation, "Password confirmation" %>
                <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "password confirmation",data: {validetta: "required"} %> 
              </div>

              <div class="form-group">
                <%= f.label :address %>
                <%= f.text_field :address, class: 'form-control', placeholder: "Address" %> 
              </div>

              <div class="form-group">
                <%= f.label :phone_number %>
                <%= f.text_field :phone_number, class: 'form-control', placeholder: "Phone number" %> 
              </div>

              <%= f.submit "Create an account", class: "btn btn-primary", value: "Edit User" %>
            <% end %>
          </div>
        </div>
      </div>
      <script>
        $(document).ready(function(){
            $("form").validetta({
              bubblePosition: 'bottom',
              bubbleGapTop: 10,
              bubbleGapLeft: -5,
              realTime : true,
            },
            {
              required  : 'not requied'
            });
          });
      </script>
    </div>
  </div>
</div>