<!DOCTYPE html>
<html>
  <head>
    <title>EcommercePnth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag  'home/style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'home/main', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/shared/header' %>
    <% if flash.any? %>
      <script type="text/javascript">
        <% flash.each do |key, value| %>
          <% type = key.to_s.gsub('alert', 'error').gsub('notice', 'success') %>
          toastr.<%= type %>('<%= value %>')
        <% end %>
      </script>
    <% end %>
    <%= yield %>
    <%= render 'layouts/shared/footer' %>  
  </body>
</html>
